@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ensure the main content starts below the navbar */
.main-content {
  padding-top: 80px; /* Adjust this value to the height of your navbar */
}

/* Example navbar CSS */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; /* Adjust this value to match the height of your navbar */
  background-color: white;
  z-index: 1000; /* Ensure it stays above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Example styles for the navigation links */
.nav-links {
  transition: transform 0.2s, color 0.2s;
  display: inline-block;
  padding: 0 15px;
  line-height: 80px; /* Adjust this value to vertically center the links in the navbar */
}

.link-underline {
  text-decoration: none;
  color: gray;
  position: relative;
}


.nav-links:hover {
  transform: scale(1.05);
  color: black;
}

.link-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* globals.css or animations.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}